body {
  margin:0;
  padding:0;
  color:#444;
  background-color:#f3f3f3;
  font-family: "Century Gothic",Tahoma,Helvetica,Arial,Verdana;
  font-size: 12px;
  background-repeat:repeat-x;
  background-position:top;
}

input.form-text, textarea {
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  background-color:#fff;
  border: 1px solid #ccc;
  padding: 5px;
}

input.form-submit {
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  background-color:#666666;
  border:2px solid #AAAAAA;
  color:#FFFFFF;
  font-size:12px;
  margin:0.25em 0;
  padding:2px 10px;
  cursor: pointer;
}

input.form-submit:hover {
  background-color:#333;
  border:2px solid #999;
}

/****** begin: views module button fix ******/
.views-edit-view input.form-submit {
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  background-color:#333333;
  border:1px solid #999999;
  color:#FFFFFF;
  font-size:11px;
  padding:2px 10px;
  margin: 0.25em 0;
}

form#views-ui-preview-form input#preview-submit {
 margin:1.15em 0 0;
}
/****** end: views module button fix ******/

textarea.resizable {
  -moz-border-radius-bottomleft:0;
  -moz-border-radius-bottomright:0;
  -webkit-border-bottom-right-radius:0;
  -webkit-border-bottom-left-radius:0;
}

html.js input.form-autocomplete {
  background-position:100% 6px;
}

#search-block-form input#edit-search-block-form-1 {
  background: #FFF url(../img/search-zoom.png) no-repeat scroll 5px 4px;
  padding-left: 28px;
  width: 130px;
}

#search-form #edit-keys {
  background: #FFF url(../img/search-zoom.png) no-repeat scroll 5px 4px;
  padding-left: 28px; 
}

#search-block-form input.form-submit {
  background: transparent url(../img/search-arrow.png) no-repeat scroll 1px 4px;
  border: none;
  text-indent: -9999px;
  width: 25px;
  height: 26px;
  padding: 0;
  cursor: pointer;
}

#header #search-box input.form-submit {
  background-color:transparent;
  border:medium none;
  font-size:11px;
  height:22px;
  line-height:22px;
  padding:0;
  cursor: pointer;
}

#header #search-box {
  background:transparent url(../img/transparent-black.png) repeat scroll 0 0;
  display:block;
  float:right;
  margin:10px;
  padding:10px;
  color: #fff;
}


#block-comment-0 ul li a {
  border: none;
  padding: 0;
  background: none;
  display: inline;
}

#block-comment-0 ul li {
  border-bottom: 1px solid #ddd;
  padding-top: 5px;
}


/********************************************/
/**********   Primary Navigation   **********/
/********************************************/
#primary {
  bottom:0;
  height:70px;
  position:absolute;
  width:990px;
  background: transparent url(../img/transparent-black.png);
}

#primary ul.links {
  bottom:0;
  position:absolute;
}

#primary ul.links li {
  display:block;
  float:left;
  font-size:16px;
  font-weight:bold;
  height:70px;
  line-height:70px;
  margin:0;
  padding:0 30px;
}

#primary ul.links li a {
  color:#FFFFFF;
  font-weight:normal;
}

#primary ul.links li a.active {
  color: #FFF;
}



/********************************************/
/**********   Secondary Navigation **********/
/********************************************/
#secondary {
  margin-top:1px;
  padding:4px 0;
}

#secondary ul.links {
  margin:0 15px 0 15px;
  padding:0;
}

#secondary ul.links li {
  display:block;
  float:left;
  height:20px;
  line-height:20px;
  margin:0;
  padding:0 15px;
}

#secondary ul.links li a {
  color:#fff;
  font-size:12px;
  font-weight:normal;
}

#secondary ul.links li a.active {
  font-weight: bold;
}


/********************************************/
/**********   Pseudo Fieldsets     **********/
/********************************************/
.poll .vote-form {
  text-align:left;
}

.poll .vote-form .choices {
  display:table;
  margin:0;
  text-align:left;
}


/********************************************/
/**********   Pseudo Fieldsets     **********/
/********************************************/
.container-inline div.pseudo-fieldset div {
  display: block !important;
}

.pseudo-fieldset {
  margin: 0.75em 0;
}

.collapsed .pseudo-fieldset-content {
  display: none;
}

.pseudo-fieldset-title {
  background:#E0E0E0 url(../img/settings.png) no-repeat scroll 7px 6px;
  color:#000000;
  font-size:1em;
  padding:5px 10px 5px 27px;
}

.collapsible .pseudo-fieldset-title {
  cursor: pointer;
}

.pseudo-fieldset-content {
  padding: 10px;
  background-color: #FAFAFA;

  -moz-border-radius-bottomleft:3px;
  -moz-border-radius-bottomright:3px;
  -webkit-border-bottom-right-radius:3px;
  -webkit-border-bottom-left-radius:3px;

  border-bottom:1px solid #e0e0e0;
  border-right:1px solid #e0e0e0;
  border-left:1px solid #e0e0e0;
}


/********************************************/
/**********      Main Layout       **********/
/********************************************/
#page {
  margin:auto; 
  width:990px; 
  border:15px solid #ffffff; 
  background-color:#ffffff;
}

#header {
  height:220px;
  background: #FF7302 url(../img/headerimage.jpg) repeat-x;
  position: relative;
}

#logo-title {
  background:transparent url(../img/transparent-black.png) repeat scroll 0 0;
  display:block;
  float:left;
  margin:10px;
  padding:10px 20px;
}

#logo {
  display: none;
}

#name-and-slogan h1 {
  font-size: 24px;

  margin: 0;
}

#name-and-slogan h1 a {
  color: #fff;
}

#site-slogan {
  color:#999999;
  font-size:11px;
}


#site-mission {
  font-size:11px;
  font-weight:bold;
  padding:20px;
  text-align:right;
  color:#ffffff;
}

#container p,
#container li {
  line-height:160%;
  list-style-type: none;
  
}



#sidebar-first {
  width:22%;
  float:left;
}

#container {
  background: transparent url(../img/bg-shadow.png) repeat-x scroll center -5px;
  padding:30px 0 0;
  position:relative;
}

#main {
  width:99%;
  float:left;
}

#main-squeeze {
  padding: 0 1em;
  background-color: #fff;
}

.sidebar-first #main,
.sidebar-second #main {
  width:78%;
  float:left;
}

.two-sidebars #main {
  width:56%;
  float:left;
}

#sidebar-second {
  width:22%;
  float:right;
}

#footer {
  background-color:#FAFAFA;
  padding: 5px;
  margin-top:30px;
  text-align:center;
}

a.feed-icon {
  display:block;
  padding:10px 0px;
}


/********************************************/
/**********      First Time Style  **********/
/********************************************/
#first-time {
  background-color: #f6f6f6;
}

#first-time p {
  padding: 0 5px;
}

#first-time strong {
  display:block;
  padding:1em 0 0;
}


/********************************************/
/**********      Main Style        **********/
/********************************************/
h1, h2, h3, h4, h5, #headline a {
  margin-bottom:0.5em;
  color:#000;
  font-weight: normal;
}

#main h1 {
  background-color:#F0F0F0;
  font-size:300%;
  margin:0 0 1px;
  padding:5px;
}

.submitted {
  background-color:#F0F0F0;
  margin:0 0 1px;
  padding:5px;
  display: block;
}

#main #content .content {
  background-color:#FAFAFA;
  padding: 5px;
}


#main #content .teaser .content {
  background-color: transparent;
  padding: 5px;
}

h1 {
  margin-top:0px;
  font-size:250%;
}

h2 {
  margin-top:0px;
  font-size:200%;
}

h3 {
  font-size:120%;
}

li.leaf {
  list-style-image:none;
}

a {
  text-decoration:none;
  color:#004477;
}

p {
  padding:0px 0px;
  margin:0.75em 0;
}

#mission {
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  background-color: #f6f6f6;
  padding:10px;
  margin:0 0 0.5em 0;
  font-size: 16px;
}

/********************************************/
/**********     Admin Style        **********/
/********************************************/
.fourseasons-admin #main {
  width: 78% !important;
}

.fourseasons-admin #sidebar-right {
  display: none !important;
}

.fourseasons-admin #main-squeeze {
  padding-right:0;
}

div.messages {
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  background-color:#333333;
  border:3px solid #999999;
  color:#FFFFFF;
  font-size:12px;
  margin:10px 0;
  
}

div.admin .left,
div.admin .right {
  margin:0;
  width:49%;
}

div.admin-panel {
  margin:10px 0px;
  padding:5px;
  border:4px solid #f3f3f3;
}

div.admin-panel .body {
  padding:0;
  padding-right:10px;
}

div.admin-panel .body dl,
div.admin-panel .body ul {
  padding-left:15px;
  margin:0;
}

ul.primary {
  display: block;
  border:none;
  margin: 0 0 1px 0;
  padding:10px 5px;
  background-color: #f0f0f0;
}

ul.primary li {
  margin-right: 3px;
}

.tabs ul.primary li a {
  background-color:#F6F6F6;
  border:1px solid #999999;
  color:#444444;
  font-size:11px;
  margin:0;
  padding:5px 10px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}

.tabs ul.primary li a:hover {
  margin:0;
  color:#fff;
  background-color: #333;
}

.tabs ul.primary li.active a {
  background-color: #444;
  color:#ffffff;
}


ul.secondary {
  display: block;
  border:none;
  margin: 0;
  padding:5px;
  background-color: #f0f0f0;
}

ul.secondary li {
  margin-right: 3px;
  padding: 0;
  border: none;
}

.tabs ul.secondary li a {
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  margin:0;
  color:#444;
  background-color: #f6f6f6;
  border: 1px solid #999;
  padding: 2px 10px;
  line-height:2.3em;
}

.tabs ul.secondary li a:hover {
  margin:0;
  color:#fff;
  background-color: #444;
}

.tabs ul.secondary li.active a {
  background-color: #444;
  color:#ffffff;
}



/********************************************/
/**********     Table Style        **********/
/********************************************/
table,
table.package {
  width:100%;
  margin: 1em 0;
}

table tr.odd {
  background-color:#f3f3f3;
}

table tr.even {
  background-color:#ffffff;
}

table {
  padding:0;
}

table th,
table td {
  border:1px solid #DDDDDD;
  padding: 4px 7px;
  vertical-align:middle;
}

table th a,
table td a {
  text-decoration:underline;
}

table th a {
  
}

table thead {
  background-color:#AAA;
  color:#fff;
  padding:5px;
  background-position:top;
  background-repeat:repeat-x;
}

td.container {
  background-color:#e0e0e0;
  color:#333333;
  padding:5px;
  background-position:top;
  background-repeat:repeat-x;
}

td.container a {
  text-decoration:underline;
  font-size:1.3em;
  font-weight:bold;
}

td.container .description {
  margin-bottom:0;
}


/********************************************/
/**********    Breadcrumb Links    **********/
/********************************************/
#breadcrumb {
  background-color:#EEEEEE;
  font-size:1.4em;
  font-weight:normal;
  line-height:1.75em;
  margin:0 0 1px 0;
  padding:0 5px;
}

#breadcrumb .breadcrumb {
  padding: 0;
}


#breadcrumb .breadcrumb span {
  height:1.75em;
  font-size:0.75em;
}

.breadcrumb-separator {
  padding: 0 3px;
}



/********************************************/
/**********      Block Style       **********/
/********************************************/
.block {
  margin-bottom:1em;
  background-color: #FAFAFA;
}

.block h2 {
  background-color:#EEEEEE;
  font-size:1.4em;
  font-weight:normal;
  height:1.75em;
  line-height:1.75em;
  margin:0;
  padding:0 10px;
}

.block .content {
  padding:5px 10px;
}

div.block-region {
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  
  background-color:#333333;
  border:2px solid #999999;
  color:#FF7302;
  font-size:180%;
  margin:0.5em 0;
  padding:0.5em;
  text-align:center;
}



/********************************************/
/**********      User login        **********/
/********************************************/
#block-user-0 #user-login-form .form-text {
  width: 75px;
}

#block-user-0 #user-login-form .form-item {
  float:left;
  margin:10px 0;
  width:90px;
}


#block-user-0 #user-login-form .form-item label, .form-item label {
  font-size:11px;
  font-style:italic;
  font-weight: normal;
  padding-left:2px;
}

#user-login-form {
  text-align:left;
}

#user-login-form .form-item {
  width:95%;
}

#user-login-form input.form-submit {
  margin-bottom:5px;
}



/********************************************/
/**********      Node Style        **********/
/********************************************/
.node.teaser {
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  background-color: #f6f6f6;
  padding:10px;
  margin:0 0 0.5em 0;
}

.node .field {
  padding:10px 0px;
}

.node .clear {
  margin:1em 0;
}

.node .links, .comment .links {
  text-align: left;
}

.node .links ul.links li, 
.comment .links ul.links li {
  padding-left: 1em;
  float: right;
}

.terms ul.links li {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 1em;
}

.new {
  color: #ffae00;
  font-size: 0.92em;
  font-weight: bold;
  float: right;
}

.terms {
  float: right;
}

.terms ul.links li {
  display: inline;
}

.preview .node, .preview .comment, .sticky {
  margin: 0;
  padding: 0.5em 0;
  border: 0;
  background: 0;
}

.sticky {
  padding: 1em;
  background-color: #fff;
  border: 1px solid #e0e5fb;
  margin-bottom: 2em;
}

div.picture {
  float:right;
}

div.picture img {
  border: 1px solid #cccccc; 
  margin: 0px 0px 10px 10px;
  padding: 3px; 

  background-color: #f3f3f3;
}


/********************************************/
/**********      Forum Style       **********/
/********************************************/
div.forum-topic {
  border:5px solid #f3f3f3;
  background-color:#ffffff;
  padding:1px;
}

div.forum-topic .user-info {
  padding:5px;
  width:25%;
  float:left;
  border-right:3px solid #f3f3f3;
}

div.forum-topic .topic {
  padding:5px;
  float:left;
  width:70%;
}

div.forum-topic .user-name,
div.forum-topic .topic-title {
  font-size:1.3em;
}

div.forum-topic .user-member,
div.forum-topic .user-access {
  margin-top:5px;;
}

div.forum-topic .picture img {
  padding:3px;
  margin:3px 0px;
  border:1px solid #cccccc;
  background-color:#f3f3f3;
}

div.forum-topic .topic-body {
  margin-top:10px;
  margin-bottom:10px;
}

div.forum-topic .links {
  text-align:right;
  padding:5px;
  display:block;
}

h2.comments {
  margin:10px 0px;
}

div.comment {
  background-color:#ffffff;
  padding:10px;
  margin:10px 0px;
  border:1px solid #cccccc;
}

div.comment .picture {
  float:right;
  margin-left:10px;
  margin-bottom:10px;
}

div.comment .picture img {
  padding:3px;
  border:1px solid #cccccc;
  background-color:#f3f3f3;
}

div.comment .links ul {
  text-align:right;
}

div.comment .links li {
  display:inline;
  margin-left:10px;
}

#comments .box {
  margin-top:30px;
}

.forum-topic div.picture {
  float:left;
}

.forum-topic div.picture img {
  margin:5px 0;
}

#forum ul.links {
  background-color:#F0F0F0;
  border:medium none;
  display:block;
  margin:0 0 1px;
  padding:10px 5px;
}

#forum ul.links li {
  display: inline;
}

#forum ul.links li a {
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  margin: 10px 0;
  background:#F6F6F6 url(../img/forum-new.png) no-repeat scroll 4px 3px;
  background-color:#F6F6F6;
  border:1px solid #999999;
  color:#444444;
  font-size:11px;
  padding:5px 10px 5px 30px;
}

#forum ul.links li a:hover {
  margin:0;
  color:#fff;
  background-color: #444;
}

#forum tr td.forum {
  background: transparent url(../img/forum-folder.png) no-repeat scroll 4px 3px;
  padding-left:30px;
}

#forum tr.depth-1 td.forum {
  background-position: 24px 3px;
}

#forum tr.depth-2 td.forum {
  background-position: 44px 3px;
}

#forum .description {
  font-size:0.9em;
  margin:0.5em 0;
}


#forum .icon img {
  display: none;
}

#forum .title a {
  background:transparent url(../img/forum-new.png) no-repeat scroll 0 0;
  display:block;
  line-height:20px;
  padding:0 0 0 25px;
}

#forum th a {
  color: #000;
  font-weight: normal;
  text-decoration: none;
}


/********************************************/
/**********       Profile Style    **********/
/********************************************/
#main-squeeze .profile {
  background-color: #F6F6F6;
  padding: 10px 5px;
  margin: 0;
}

/********************************************/
/**********       Form Style       **********/
/********************************************/
.form-item {
  margin-bottom:0.75em;
  margin-top:0.75em;
}


/********************************************/
/**********       Book Style       **********/
/********************************************/
.content .book-navigation {
  margin-top:10px;
}




/********************************************/
/**********    Menu in Sidebars    **********/
/********************************************/
.block ul { 
  padding: 0;
}

.sidebar ul, .sidebar ul li {
  margin: 0;
  padding: 0;
}

.sidebar li { 
  list-style-type: none;
  list-style-image: none;
}

.sidebar ul li a {
  background-image: url(../img/menu-leaf.gif);
  background-repeat:no-repeat;
  padding-left: 1.5em;
  border-bottom: 1px solid #e6e6e6;
  background-position: 0.3em 0.6em;
  line-height: 1.9em;
  display: block;
}

.sidebar ul li {
  list-style-type: none;
  list-style-image: none;
}

.sidebar ul li.expanded > a {
  background-image: url(../img/menu-expanded.gif);
}

.sidebar ul li.collapsed > a {
  background-image: url(../img/menu-collapsed.gif);
}

.sidebar ul li ul li > a {
  padding-left: 2.5em;
  background-position: 1.3em 0.6em;
}

.sidebar ul li ul li ul li > a {
  padding-left: 3.8em;
  background-position: 2.6em 0.6em;
}

.sidebar ul li ul li ul li ul li > a {
  padding-left: 4.9em;
  background-position: 3.7em 0.6em;
}

.sidebar li.active-trail > a {
  font-weight:bold;
  background-color: #f0f0f0;
}

.sidebar li > a:hover {
  background-color: #f0f0f0;
}


/*
dl {
  margin: 0.5em 0 1em 1.5em;
}

dl dt {
}

dl dd {
  margin: 0 0 .5em 1.5em;
}

img, a img {
  border: none;
}
*/


/********************************************/
/**********     try another ...    **********/
/********************************************/
#font span,
#farben span {
  font-family:arial; 
  color:#333333; 
  font-size:10px; 
  text-decoration:none; 
  float:left; 
  display:block;
}

#farben a {
  width:10px; 
  height:10px; 
  display:block;
  float:left;
  margin-left:5px;
}

#font a {
  display:block;
  float:left;
  margin-left:5px;
  font-family:arial;
  color:#cccccc;
  font-size:10px;
  text-decoration:none;
}






